{% extends "edumanage/welcome.html"%}
{% load i18n %}
{% block crumbs %}
	<li><a href="{% url 'manage' %}">{% trans "Home" %}</a><span class="divider">/</span></li>
	<li><a href="{% url 'servers' %}">{% trans "Servers" %}</a><span class="divider">/</span></li>
	<li class="active">{{server.name}}</li>
{% endblock %}
{% block extrahead %}
<style type="text/css">
	.col-sm-3 control-label{
		padding-top: 0px !important;
		width: auto !important;
	}
</style>
{% endblock %}
{% block homeactive %}{% endblock %}
{% block serversactive %}class="active"{% endblock %}
{% block subcontent %}
<h4>
{{server.get_name}}
<a class="btn btn-primary pull-right" href="{% url 'edit-servers' server.pk %}">{% trans "Edit" %}</a>
</h4>
<hr>
<div class="form-horizontal">
	{% csrf_token %}
	{% if form.non_field_errors %}
	<p class="error">
		{{ form.non_field_errors}}
	</p>
	{% endif %}
	<div style="display: none">
		{{form.instid}}
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" for="id_ertype"><b>{% trans "Type" %}</b></label>
		<div class="col-sm-9">
			<p class="form-control-static">
			{{ server.get_ertype_display }}
			</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" for="id_name"><b>{% trans "Label" %}</b></label>
		<div class="col-sm-9">
			<p class="form-control-static">
			{{ server.name }}
			</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" for="id_addr_type"><b>{% trans "Address Family" %}</b></label>
		<div class="col-sm-9">
			<p class="form-control-static">
			{{ server.get_addr_type_display }}
			</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" for="id_host"><b>{% trans "Host" %}</b></label>
		<div class="col-sm-9">
			<p class="form-control-static">
			{{ server.host }}
			</p>
		</div>
	</div>
	{% if institution.ertype == 1 or institution.ertype == 3 %}
	<div class="form-group">
		<label class="col-sm-3 control-label" for="id_port"><b>{% trans "RADIUS Packet Types" %}</b></label>
		<div class="col-sm-9">
			<p class="form-control-static">
			{{ server.get_rad_pkt_type_display }}
			</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" for="id_port"><b>{% trans "Authentication Port" %}</b></label>
		<div class="col-sm-9">
			<p class="form-control-static">
			{{ server.auth_port }}
			</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" for="id_acct_port"><b>{% trans "Accounting Port" %}</b></label>
		<div class="col-sm-9">
			<p class="form-control-static">
			{{ server.acct_port }}
			</p>
		</div>
	</div>
	{% endif %}
	<div class="form-group">
		<label class="col-sm-3 control-label" for="id_status_server"><b>{% trans "Status Server" %}</b></label>
		<div class="col-sm-9">
			<p class="form-control-static">
			{{ server.status_server }}
			</p>
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-3 control-label" for="id_proto"><b>{% trans "Protocol" %}</b></label>
		<div class="col-sm-9">
			<p class="form-control-static">
			{{ server.proto }}
			</p>
		</div>
	</div>
</div>
{% endblock %}

