{% load i18n %}<!DOCTYPE html>
<title>{% block title %}eduroam.{{COUNTRY_CODE}}{% endblock %} {% block currentpagetitle %}{% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="find, connect to, and administer eduroam">
<meta name="author" content="yorn@uninett.no">
<link href="//eduroam.no/uninett-theme/ico/apple-touch-icon.png" rel="apple-touch-icon">
<link href="//eduroam.no/uninett-theme/ico/apple-touch-icon-76x76.png" rel="apple-touch-icon" sizes="76x76">
<link href="//eduroam.no/uninett-theme/ico/apple-touch-icon-120x120.png" rel="apple-touch-icon" sizes="120x120">
<link href="//eduroam.no/uninett-theme/ico/apple-touch-icon-152x152.png" rel="apple-touch-icon" sizes="152x152">
<link rel="shortcut icon" href="//eduroam.no/uninett-theme/ico/favicon.ico">
<meta name="msapplication-TileImage" content="//eduroam.no/uninett-theme/ico/metro.png">
<meta name="msapplication-TileColor" content="#eeebe8">
<link href="//eduroam.no/css/bootstrap.min.css" rel="stylesheet">
<link href="//eduroam.no/uninett-theme/css/uninett.css" rel="stylesheet">

<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="//www.uninett.no/"><img src="//eduroam.no/uninett-theme/images/UNINETT_logo.svg" alt="Uninett logo"></a>
			
		</div>
		<div class="navbar-department">
			<div class="department">
				<a href="//eduroam.no/">eduroam</a>
			</div>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="uninett-login">
					<form method="get" action="{% url 'logout' %}">
						<button type="submit" class="btn btn-default uninett-login-btn">
							<svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="12" height="12">
								<path d="M0  0v143l400 257v100q-37 0 -68.5 74.5t-31.5 125.5v200q0 124 88 212t212  88t212 -88t88 -212v-200q0 -51 -31.5 -125.5t-68.5 -74.5v-100l400  -257v-143h-1200z" fill="#eb212e" transform="scale(.01,-.01) translate(0,-1200)"/>
							</svg>
							{% trans "Logout" %} {{user}}
						</button>
					</form>
				</li>
				<li>
					<a href="//eduroam.no/contact/">Contact</a>
				</li>
				<li>
					<a href="//eduroam.no/connect/">Connect</a>
				</li>
				<li class="dropdown active">
					<a href="//eduroam.no/admin/" class="dropdown-toggle" data-toggle="dropdown">Administrators <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li>
							<a href="//www.uninett.no/tjenester/eduroam">Service description</a>
						</li>
						<li>
							<a href="//eduroam.no/join/">Join eduroam</a>
						</li>
						<li>
							<a href="//eduroam.no/policy/">Policy</a>
						</li>
						<li>
							<a href="//eduroam.no/promo/">Promotional materials</a>
						</li>
						<li class="divider"></li>
						<li class="dropdown-header">Tools</li>
						<li>
							<a href="//www.uninett.no/tjenester/eduroam/cat">Configuration Assistance Tool (CAT)</a>
						</li>
						<li class="active">
							<a>edumanage</a>
						</li>
						<li>
							<a href="//edudbg.eduroam.no/">edudbg</a>
						</li>
						<li>
							<a href="//realmstatus.eduroam.no">realm status</a>
						</li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>

{% block content %}
{% endblock %}

<hr class="uninett-hr-divider">
<footer id="footer" class="container">
		<div class="footer-uninett">
			<div class="footer-content-uninett">
				<div class="footer-logo"> <img src="//eduroam.no/uninett-theme/images/Uninett_pil_rod.svg" alt="Uninett logo" type="image/svg+xml"></div>
				<div class="footer-uninett-department">UNINETT AS 2014</div>
			</div>
		</div>
</footer>

<script src="//eduroam.no/js/jquery-1.11.0.min.js"></script>
<script src="//eduroam.no/js/bootstrap.min.js"></script>
{% block extrahead %}{% endblock %}

